<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>

		<!-- HISTORY QUESTIONS -->
		<key>History</key>
		<dict>
			<key>en</key>
			<array>
				<!-- Array of dictionaries (questions) -->

				<!-- Q1 -->
				<dict>
					<!-- dictionary represents a HashMap -->
					<key>q</key>
					<string>Who was caught trying to blow up parliament in 1605?</string>
					<key>a</key>
					<array>
						<string>John and Christopher Wright</string>
						<string>Thomas Percy</string>
						<string>Guy Fawkes</string>
						<string>Robert Catesby</string>
					</array>
					<key>i</key>
					<integer>2</integer>
				</dict>

				<!-- Q2 -->
				<dict>
					<key>q</key>
					<string>In what year did the battle of hastings occur?</string>
					<key>a</key>
					<array>
						<string>1059</string>
						<string>1066</string>
						<string>1064</string>
						<string>1081</string>
					</array>
					<key>i</key>
					<integer>1</integer>
				</dict>

				<!-- Q3 -->
				<dict>
					<key>q</key>
					<string>Officially, how many wives did Henry VIII have?</string>
					<key>a</key>
					<array>
						<string>6</string>
						<string>1</string>
						<string>4</string>
						<string>8</string>
					</array>
					<key>i</key>
					<integer>0</integer>
				</dict>

				<!-- Q4 -->
				<dict>
					<key>q</key>
					<string>Approximately, how many years ago did dinosaurs become exinct?</string>
					<key>a</key>
					<array>
						<string>70 million</string>
						<string>80 million</string>
						<string>65 million</string>
						<string>59 million</string>
					</array>
					<key>i</key>
					<integer>2</integer>
				</dict>

				<!-- Q5 -->
				<dict>
					<key>q</key>
					<string>In what year did the first world war start?</string>
					<key>a</key>
					<array>
						<string>1909</string>
						<string>1916</string>
						<string>1914</string>
						<string>1918</string>
					</array>
					<key>i</key>
					<integer>2</integer>
				</dict>

				<!-- Q6 -->
				<dict>
					<key>q</key>
					<string>In what year did the Titanic sink?</string>
					<key>a</key>
					<array>
						<string>1910</string>
						<string>1914</string>
						<string>1911</string>
						<string>1912</string>
					</array>
					<key>i</key>
					<integer>3</integer>
				</dict>

				<!-- Q7 -->
				<dict>
					<key>q</key>
					<string>Which country gifted the Statue of Liberty to the USA?</string>
					<key>a</key>
					<array>
						<string>France</string>
						<string>Canada</string>
						<string>Netherlands</string>
						<string>United Kingdom</string>
					</array>
					<key>i</key>
					<integer>0</integer>
				</dict>

				<!-- Q8 -->
				<dict>
					<key>q</key>
					<string>Which US president was assassinated by John Wilkes Booth in 1865?</string>
					<key>a</key>
					<array>
						<string>Abraham Lincoln</string>
						<string>John F Kennedy</string>
						<string>George Washington</string>
						<string>Woodrow Wilson</string>
					</array>
					<key>i</key>
					<integer>0</integer>
				</dict>

				<!-- Q9 -->
				<dict>
					<key>q</key>
					<string>In 1919 the treaty of ______ was signed, following the end
of the first world war.</string>
					<key>a</key>
					<array>
						<string>Toulouse</string>
						<string>Marseille</string>
						<string>Versailles</string>
						<string>Bordeaux</string>
					</array>
					<key>i</key>
					<integer>2</integer>
				</dict>

				<!-- Q10 -->
				<dict>
					<key>q</key>
					<string>Which vitamin deficiency was the main cause of scurvy amongst
priates and sailors during the 15th and 16th century?</string>
					<key>a</key>
					<array>
						<string>Vitamin D</string>
						<string>Vitamin C</string>
						<string>Vitamin E</string>
						<string>Vitamin B</string>
					</array>
					<key>i</key>
					<integer>1</integer>
				</dict>

				<!-- Q11 -->
				<dict>
					<key>q</key>
					<string>In what year, did the attack on pearl harbor occur?</string>
					<key>a</key>
					<array>
						<string>1943</string>
						<string>1939</string>
						<string>1940</string>
						<string>1941</string>
					</array>
					<key>i</key>
					<integer>3</integer>
				</dict>

				<!-- Q12 -->
				<dict>
					<key>q</key>
					<string>When did the vietnam war end?</string>
					<key>a</key>
					<array>
						<string>1979</string>
						<string>1975</string>
						<string>1964</string>
						<string>1971</string>
					</array>
					<key>i</key>
					<integer>1</integer>
				</dict>

				<!-- Q13-->
				<dict>
					<key>q</key>
					<string>Before its name change in 1664, what was
New York called?
					</string>
					<key>a</key>
					<array>
						<string>New Amsterdam</string>
						<string>East York</string>
						<string>New Rotterdam</string>
						<string>New Hamburg</string>
					</array>
					<key>i</key>
					<integer>0</integer>
				</dict>

				<!-- Q14 -->
				<dict>
					<key>q</key>
					<string>In what year, did the Wall Street crash occur?</string>
					<key>a</key>
					<array>
						<string>1919</string>
						<string>1929</string>
						<string>1931</string>
						<string>1928</string>
					</array>
					<key>i</key>
					<integer>1</integer>
				</dict>

				<!-- Q15 -->
				<dict>
					<key>q</key>
					<string>Which street did the the great fire of London
start on?
					</string>
					<key>a</key>
					<array>
						<string>Baker Ave</string>
						<string>Pudding Lane</string>
						<string>Pastry Road</string>
						<string>Dough Street</string>
					</array>
					<key>i</key>
					<integer>1</integer>
				</dict>

			</array>
		</dict>


		<!-- SCIENCE QUESTIONS -->
		<key>Science</key>
		<dict>
			<key>en</key>
			<array>

				<!-- Q1 -->
				<dict>
					<key>q</key>
					<string>What is the boiling point of water?</string>
					<key>a</key>
					<array>
						<string>25c</string>
						<string>75c</string>
						<string>50c</string>
						<string>100c</string>
					</array>
					<key>i</key>
					<integer>3</integer>
				</dict>

				<!-- Q2 -->
				<dict>
					<key>q</key>
					<string>When you push something, you apply ____.</string>
					<key>a</key>
					<array>
						<string>Force</string>
						<string>Acceleration</string>
						<string>Mass</string>
						<string>Compression</string>
					</array>
					<key>i</key>
					<integer>0</integer>
				</dict>

				<!-- Q3 -->
				<dict>
					<key>q</key>
					<string>What part of the skeletal system protects the brain?</string>
					<key>a</key>
					<array>
						<string>Pelvis</string>
						<string>Femur</string>
						<string>Spine</string>
						<string>Skull</string>
					</array>
					<key>i</key>
					<integer>3</integer>
				</dict>

				<!-- Q4 -->
				<dict>
					<key>q</key>
					<string>Which energy emerges from motion?</string>
					<key>a</key>
					<array>
						<string>Electrical</string>
						<string>Kinetic</string>
						<string>Potential</string>
						<string>Gravitational</string>
					</array>
					<key>i</key>
					<integer>1</integer>
				</dict>

				<!-- Q5 -->
				<dict>
					<key>q</key>
					<string>What season is known for being cold?</string>
					<key>a</key>
					<array>
						<string>Autumn</string>
						<string>Spring</string>
						<string>Summer</string>
						<string>Winter</string>
					</array>
					<key>i</key>
					<integer>3</integer>
				</dict>

				<!-- Q6 -->
				<dict>
					<key>q</key>
					<string>Mercury is the smallest planet in the solar system.</string>
					<key>a</key>
					<array>
						<string>True</string>
						<string>False</string>
					</array>
					<key>i</key>
					<integer>0</integer>
				</dict>

				<!-- Q7 -->
				<dict>
					<key>q</key>
					<string>What is the chemical composition of water?</string>
					<key>a</key>
					<array>
						<string>H2O</string>
						<string>H202</string>
						<string>K</string>
						<string>W</string>
					</array>
					<key>i</key>
					<integer>0</integer>
				</dict>

				<!-- Q8 -->
				<dict>
					<key>q</key>
					<string>What is the elemental symbol of gold</string>
					<key>a</key>
					<array>
						<string>GO</string>
						<string>AU</string>
						<string>LU</string>
						<string>K</string>
					</array>
					<key>i</key>
					<integer>1</integer>
				</dict>

				<!-- Q9 -->
				<dict>
					<key>q</key>
					<string>Which planet is known as the Red Planet?</string>
					<key>a</key>
					<array>
						<string>Mercury</string>
						<string>Mars</string>
						<string>Pluto</string>
						<string>Neptune</string>
					</array>
					<key>i</key>
					<integer>1</integer>
				</dict>

				<!-- Q10 -->
				<dict>
					<key>q</key>
					<string>Litter is a form of pollution.</string>
					<key>a</key>
					<array>
						<string>True</string>
						<string>False</string>
					</array>
					<key>i</key>
					<integer>0</integer>
				</dict>

			</array>
		</dict>


		<!-- MATH QUESTIONS -->
		<key>Maths</key>
		<dict>
			<key>en</key>
			<array>

				<!-- Q1 -->
				<dict>
					<key>q</key>
					<string>Which is the smallest of the following numbers?</string>
					<key>a</key>
					<array>
						<string>0.001</string>
						<string>0.1</string>
						<string>0.01</string>
						<string>0.011</string>
					</array>
					<key>i</key>
					<integer>0</integer>
				</dict>

				<!-- Q2 -->
				<dict>
					<key>q</key>
					<string>What is 0.7 divided by 100?</string>
					<key>a</key>
					<array>
						<string>0.77</string>
						<string>0.07</string>
						<string>0.17</string>
						<string>0.007</string>
					</array>
					<key>i</key>
					<integer>3</integer>
				</dict>

				<!-- Q3 -->
				<dict>
					<key>q</key>
					<string>7 + _ = 20</string>
					<key>a</key>
					<array>
						<string>11</string>
						<string>12</string>
						<string>15</string>
						<string>13</string>
					</array>
					<key>i</key>
					<integer>3</integer>
				</dict>

				<!-- Q4 -->
				<dict>
					<key>q</key>
					<string>What is 17 - 9?</string>
					<key>a</key>
					<array>
						<string>7</string>
						<string>5</string>
						<string>9</string>
						<string>8</string>
					</array>
					<key>i</key>
					<integer>3</integer>
				</dict>

				<!-- Q5 -->
				<dict>
					<key>q</key>
					<string>What is 75 - 45?</string>
					<key>a</key>
					<array>
						<string>30</string>
						<string>35</string>
						<string>40</string>
						<string>45</string>
					</array>
					<key>i</key>
					<integer>0</integer>
				</dict>

				<!-- Q6 -->
				<dict>
					<key>q</key>
					<string>What does the digit 1 in 15,232 represent?</string>
					<key>a</key>
					<array>
						<string>1000</string>
						<string>10,000</string>
						<string>100,000</string>
						<string>100</string>
					</array>
					<key>i</key>
					<integer>1</integer>
				</dict>

				<!-- Q7 -->
				<dict>
					<key>q</key>
					<string>Which number is equivelant to
three hundred and seventy-eight thousand?
					</string>
					<key>a</key>
					<array>
						<string>3,780,000</string>
						<string>3780</string>
						<string>378</string>
						<string>378,000</string>
					</array>
					<key>i</key>
					<integer>3</integer>
				</dict>

				<!-- Q8 -->
				<dict>
					<key>q</key>
					<string>Which compass point is on the left?</string>
					<key>a</key>
					<array>
						<string>North</string>
						<string>East</string>
						<string>South</string>
						<string>West</string>
					</array>
					<key>i</key>
					<integer>3</integer>
				</dict>

				<!-- Q9 -->
				<dict>
					<key>q</key>
					<string>Which compass point is on the top?</string>
					<key>a</key>
					<array>
						<string>North</string>
						<string>East</string>
						<string>South</string>
						<string>West</string>
					</array>
					<key>i</key>
					<integer>0</integer>
				</dict>

				<!-- Q10 -->
				<dict>
					<key>q</key>
					<string>What is the smallest common factor of 6 and 15?</string>
					<key>a</key>
					<array>
						<string>2</string>
						<string>5</string>
						<string>6</string>
						<string>3</string>
					</array>
					<key>i</key>
					<integer>3</integer>
				</dict>

				<!-- Q11 -->
				<dict>
					<key>q</key>
					<string>What is one tenth of 30?</string>
					<key>a</key>
					<array>
						<string>13</string>
						<string>3</string>
						<string>0.3</string>
						<string>0.03</string>
					</array>
					<key>i</key>
					<integer>1</integer>
				</dict>

				<!-- Q12 -->
				<dict>
					<key>q</key>
					<string>What is one quarter of 16?</string>
					<key>a</key>
					<array>
						<string>4</string>
						<string>5</string>
						<string>6</string>
						<string>3</string>
					</array>
					<key>i</key>
					<integer>0</integer>
				</dict>

				<!-- Q13 -->
				<dict>
					<key>q</key>
					<string>What is 8x8?</string>
					<key>a</key>
					<array>
						<string>72</string>
						<string>56</string>
						<string>64</string>
						<string>80</string>
					</array>
					<key>i</key>
					<integer>2</integer>
				</dict>

				<!-- Q14 -->
				<dict>
					<key>q</key>
					<string>The "MODE" represents the most common
frequency of data?
					</string>
					<key>a</key>
					<array>
						<string>True</string>
						<string>False</string>
					</array>
					<key>i</key>
					<integer>0</integer>
				</dict>

				<!-- Q15 -->
				<dict>
					<key>q</key>
					<string>The value of pie is approximately 3.18.</string>
					<key>a</key>
					<array>
						<string>True</string>
						<string>False</string>
					</array>
					<key>i</key>
					<integer>1</integer>
				</dict>

			</array>


		</dict>
	</dict>
</plist>